/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}


/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
}


.form-header {
    background-color: #CE2829;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-header nav {
  display: flex;
  gap: 0.5rem;
  padding-left: 10rem;
}

.form-header nav a {
    color: white; 
    text-decoration: none;
    padding-bottom: 0.75rem;
}

.form-header nav a:hover {
    font-weight: bold;
}

.maintitle h3 {
  text-align: left;
  padding-left: 10rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.main-price {
  display: flex;
  padding-left: 10rem;
  padding-right: 10rem;  
  justify-content: space-between;
}

.food-rating {
  padding-left: 20rem;
}

.description {
  text-align: left;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 1rem;
}

.pizza-selection {
  display: flex;
  margin-left: 10rem;
  gap: 30rem;
}

.ingredients {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 2rem;
   width: 90%;
}

.ingredients label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.bottom-line {
  width: 70%;          
  border-bottom: 2px solid #5F5F5F;
  margin-top: 1rem;
  margin-left: 10rem;
}

.order-price {
  width: 30%;
  margin-left: 40.5rem;
}

.order-price h6 {
  padding-bottom: 2rem;
  margin-top: 2rem;
  margin-right: 8rem;
}

.order-price div {
  display: flex;
  justify-content: space-around;
}
.order-price Button {
  width: 100%;
}

.kucuk, .buyuk {
  margin-left: -2rem;
}

.orta {
  margin-left: -2.9rem;
}

.thickness h4 span {
  margin-right: 9rem;
}

.extra {
   margin-top: 3rem;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-left: 10rem;
}

.extra h4 {
  margin-bottom: 0.5rem;
}

.namesurname {
  margin-right: 49rem;
  margin-top: 3rem;
}

.adsoyad {
  width: 30%;
}

.form-header img {
  height: 2rem;
  margin-top: 1rem;
}

.note {
  margin-right: 47.5rem;
  margin-top: 3rem;
}

#exampleText {
  width: 70%;
  margin-left: 10rem;
}

.btn.less, .btn.more {
  width: 8rem;
  border-radius: 1px solid #5F5F5F;
  height: 2rem;
  margin-top: -12rem;
  border-radius: 0.5rem;
}

.count-order {
  width: 8rem;
  height: 2rem;
  border-top: 1px solid #5F5F5F;
  border-bottom: 1px solid #5F5F5F;
  margin-top: -12rem;
  border-radius: 0.5rem;
}

.total-order {
  display: flex;
  margin-left: 10rem;
  margin-bottom: 5rem;
}

.btn.buttonorder {
  margin-left: 28rem;
  width: 30%;
}

.form-select {
  width: 80%;
}

.main {
  width: 100vw;
  min-height: 100vh;
  background-image: url("/images/iteration-1-images/home-banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin-left: -7.95rem;
}

.main img {
  padding-top: 5rem;
}

.promo-top {
  color: #FDC913;
  text-align: center;
  font-family: 'Pacifico';
  font-size: 2rem;
}

.commercial-main {
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 60%;
}

.promo-main {
  color: white;
  font-size: 3rem;
  font-family: 'Roboto Mono';
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.button {
  background-color: #FDC913;
  border-radius: 1rem;
  width: 15%;
  text-align: center; 
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  font-size: 1rem;
}

.button a {
  text-decoration: none;
  color: black;
  font-family: 'Roboto Condensed';
}

.ordersuccess {
  background-color: #CE2829;
  width: 100vw;
  min-height: 100vh;
  margin-left: -7.95rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.ordersuccess img {
  padding-top: 5rem;
}

.commercial-success {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  gap: 2rem;
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 2rem;
}

.order-detail {
  text-transform: capitalize;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 8rem;
}

.overall-price {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  width: 70%;
  margin: 2rem 7rem;
  padding: 2rem;
  border-radius: 2rem;
}

.overall-price h6 {
  text-align: left;
}

.price-row {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
}

.price-row p {
  margin: 0;
  color: white;
  font-size: 1rem;
}

.order-top {
  margin-bottom: -1.5rem;
}

.order-main {
  border-bottom: 1px solid white;
  width: 80%;
  margin-left: 4rem;
}

.ingredients input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #FAF7F2;
}

.ingredients label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  gap: 10px;
  user-select: none;
}


.ingredients input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


.ingredients .checkmark {
  width: 25px;
  height: 25px;
  background-color: #FAF7F2;
  border-radius: 4px;
  position: relative;
}


.ingredients input:checked ~ .checkmark {
  background-color: #FDC913;
}


.ingredients .checkmark::after {
  content: "";
  position: absolute;
  display: none;

  left: 8px;
  top: 4px;
  width: 6px;
  height: 12px;

  border: solid #5F5F5F;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}


.ingredients input:checked ~ .checkmark::after {
  display: block;
}

.size-options{
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
  align-items: center;
}

.size-item{
  position: relative;
}


.size-item input[type="radio"]{
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.size-item label{
  display: grid;
  place-items: center;
  width: 56px;
  height: 56px;
  border-radius: 999px;
  background: #f6f1ea;   
  color: #5c5c5c;
  cursor: pointer;
  user-select: none;
  font-weight: 600;
}

.size-item input[type="radio"]:checked + label{
  background: #f2c94c;  
  color: #000;
}

.breadcrumb a {
  color: #5F5F5F;
  text-decoration: none;
}

.maintitle nav a {
  text-decoration: none;
  color: #5F5F5F;
  float: left;
  padding-left: 10rem;
}

.pills-tab {
  display: flex;
  justify-content: center;
  gap: 2rem;
  background-color: white;
  width: 100vw;
  margin-left: -8rem;
}

.pills-tab a {
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  color: black;
}

.left {
  background-image: url("images/iteration-2-images/cta/kart-1.png");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: cover;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100%;
  flex: 1;
}

.right-top {
  background-image: url("images/iteration-2-images/cta/kart-2.png");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: cover;
  border-radius: 0.75rem;
  display: flex;
  height: 50%;
  flex: 1;
}

.right-bottom {
  background-image: url("images/iteration-2-images/cta/kart-3.png");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: cover;
  border-radius: 0.75rem; 
  display: flex;
  height: 50%;
  flex: 1;
}

.home {
  display: flex;
  margin: 2rem 15rem;
  padding-top: 2rem;
  height: 150%;
  gap: 1rem;
}

.middlePart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
}

.tabtab{
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:1rem;
  flex-wrap:nowrap;
  overflow-x:auto;
  padding:1rem 0;
  box-sizing:border-box;
}

.tabtab a{
  display:flex !important;
  flex-direction:row !important;
  align-items:center;
  justify-content:center;
  gap:.75rem;

  background:#fff;
  border-radius:999px;
  padding:.75rem 1.25rem;

  white-space:nowrap;
  min-width:max-content;
  line-height:1;

  text-decoration:none;
  color:#000;
}

.tabtab a img{
  width:32px;
  height:32px;
  display:block;
  flex:0 0 32px;
}

.tabtab::-webkit-scrollbar{height:6px;}


.food-tabs {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 3rem;
}

.terminalpizza-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.terminalpizza-tab .price {
  display: flex;
  justify-content: space-around;
}

.absolutepizza-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.absolutepizza-tab .price {
  display: flex;
  justify-content: space-around; 
}

.burger-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.burger-tab .price {
  display: flex;
  justify-content: space-around;
}

.address {
  list-style-image: url("/images/iteration-2-images/footer/icons/icon-1.png");
}

.mail {
  list-style-image: url("images/iteration-2-images/footer/icons/icon-2.png");
}

.phone {
  list-style-image: url("images/iteration-2-images/footer/icons/icon-3.png");
}

footer {
  background: #1f1f1f;
  color: #fff;
  margin-top: 4rem;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer .maindiv {
  max-width: 1100px;
  margin: 0 auto;
  padding: 4rem 2rem 3rem;
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
  gap: 4rem;
  align-items: start;
}

footer h1,
footer h2 {
  margin: 0 0 1.25rem 0;
  color: #fff;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .address,
footer .mail,
footer .phone {
  margin: 0 0 1rem 0;
  padding-left: 2.25rem;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.85);
  list-style-position: outside;
}

footer .menu li {
  margin: 0.6rem 0;
  color: rgba(255, 255, 255, 0.85);
}

footer .insta-photos {
  display: grid;
  grid-template-columns: repeat(3, 96px);
  gap: 12px;
  margin-top: 1.25rem;
}

footer .insta-photos img {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

footer .footer-bottom,
footer .bottomdiv,
footer .copyright {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.75);
}



@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    overflow-x: hidden;
  } 

  .form-header nav {
    padding-left: 1rem;
    gap: 0rem;
  }
  .maintitle {
    width: 80vw;
  }

  .maintitle h3 {
    padding-left: 1rem;
  }

  .main-price {
    padding-left: 1rem;
  }

  .food-rating {
    padding-left: 10rem;
  }

  .rate {
    padding-left: 1rem;
  }

  .description {
    padding-left: 1rem;
    padding-right: 0;
  }

   .pizza-selection{
    flex-direction: column;
    gap: 1.5rem;
    margin-left: 1rem;   /* senin media'daki margin-left'i de iptal */
    width: 100%;
  }

  .size h4 {
    margin-right: 13.4rem;
  }

  .thickness h4 {
    margin-left: -4rem;
  }

  .form-select {
    width: auto;
  }
  
  .extra {
    margin-left: 1rem;
  }

  .extra p, .note {
    white-space: nowrap;
  }

  .ingredients {
    gap: 1rem;
    width: 80%;
  }

  .namesurname {
    margin-right: 8rem;
  }

  .adsoyad {
    width: 100%;
  }

  .note {
    margin-left: 1rem;
  }

  #exampleText {
    width: 95%;
    margin-left: 1rem;
  }

  .bottom-line {
    width: 95%;
    margin-left: 1rem;
  }

  .order-price {
    margin-left: 1rem;
    width: 95%;
  }

  .btn.buttonorder {
    width: 30%;
    margin-left: 13rem;
    margin-top: 1rem;
    padding-top: 0.1rem;
    padding-left: 0.2rem;
    margin-right: 0.2rem;
  }
  
  .btn.less, .btn.more {
    margin-top: -2rem;
  }

  .btn.less {
    margin-left: -8.5rem;
    width: 35%;
  }

  .btn.more {
    margin-left: -0.1rem;
    width: 35%;
  }

  .count-order {
    margin-top: -2rem;
    width: 35%;
  }

  .order-price div {
    justify-content: space-between;
    margin-left: 2.2rem;
    margin-right: 2.2rem;
  }

  .main {
    width: 100vw;
    margin-left: -2rem;
  }

  .button {
    width: auto;
    padding: 0.3rem 1.5rem;
  }

  .ordersuccess {
    width: 100vw;
    margin-left: -2rem;
  }

  .order-main {
  margin-left: 2.5rem;
  }

  .order-detail {
    display: block;
    margin-right: 7rem;
  }

  .overall-price {
    margin-left: 4rem;
  }

  .ingredients label {
    display: flex;
    align-items: center;     
    gap: 12px;              
    line-height: 1.2;
  }

  .ingredients .checkmark {
    flex: 0 0 25px;          
    width: 25px;
    height: 25px;
  }

  .ingredients label {
    white-space: normal;
  }

  .maintitle nav a {
  padding-left: 0.8rem;
}
 
}