/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-header {
    background-color: #CE2829;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-header nav {
  display: flex;
  gap: 0.5rem;
  padding-left: 10rem;
}

.form-header nav a {
    color: white; 
    text-decoration: none;
    padding-bottom: 0.75rem;
}

.form-header nav a:hover {
    font-weight: bold;
}

.main h3 {
  text-align: left;
  padding-left: 10rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.main-price {
  display: flex;
  padding-left: 10rem;
  padding-right: 10rem;  
  justify-content: space-between;
}

.food-rating {
  padding-left: 20rem;
}

.description {
  text-align: left;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 1rem;
}

.pizza-selection {
  display: flex;
  margin-left: 10rem;
  gap: 30rem;
}

.ingredients {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 2rem;
   width: 90%;
}

.ingredients label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.bottom-line {
  width: 70%;          
  border-bottom: 2px solid #5F5F5F;
  margin-top: 1rem;
  margin-left: 10rem;
}

.order-price {
  border: 1px solid #5F5F5F;
  width: 30%;
  margin-left: 40.5rem;
  border-radius: 0.5rem;
}

.order-price h6 {
  padding-bottom: 2rem;
  margin-top: 2rem;
  margin-right: 8rem;
}

.order-price div {
  display: flex;
  justify-content: space-around;
}
.order-price Button {
  width: 100%;
}

.kucuk, .buyuk {
  margin-left: -2rem;
}

.orta {
  margin-left: -2.9rem;
}

.thickness h4 span {
  margin-right: 9rem;
}

.extra {
   margin-top: 3rem;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-left: 10rem;
}

.extra h4 {
  margin-bottom: 0.5rem;
}

.namesurname {
  margin-right: 49rem;
  margin-top: 3rem;
}

.adsoyad {
  width: 30%;
}

.form-header img {
  height: 2rem;
  margin-top: 1rem;
}

.note {
  margin-right: 47.5rem;
  margin-top: 3rem;
}

#exampleText {
  width: 70%;
  margin-left: 10rem;
}

.less, .more {
  width: 8rem;
  border-radius: 1px solid #5F5F5F;
  height: 2rem;
  margin-top: -12rem;
  border-radius: 0.5rem;
}

.count-order {
  width: 8rem;
  height: 2rem;
  border-top: 1px solid #5F5F5F;
  border-bottom: 1px solid #5F5F5F;
  margin-top: -12rem;
  border-radius: 0.5rem;
}

.total-order {
  display: flex;
  margin-left: 10rem;
  margin-bottom: 30rem;
}

.buttonorder {
  margin-left: 28rem;
  width: 30%;
}

.form-select {
  width: 80%;
}

@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    overflow-x: hidden;
  } 

  .form-header nav {
    padding-left: 1rem;
    gap: 0rem;
  }
  .main {
    width: 80vw;
  }

  .main h3 {
    padding-left: 1rem;
  }

  .main-price {
    padding-left: 1rem;
  }

  .food-rating {
    padding-left: 10rem;
  }

  .rate {
    padding-left: 1rem;
  }

  .description {
    padding-left: 1rem;
    padding-right: 0;
  }

  .pizza-selection {
    margin-left: 1rem;
    gap: 2rem;
    width: max-content;
  }

  .form-select {
    width: auto;
  }
  
  .extra {
    margin-left: 1rem;
  }

  .extra p, .note {
    white-space: nowrap;
  }

  .ingredients {
    gap: 1rem;
    width: 80%;
  }

  .namesurname {
    margin-right: 0;
  }

  .adsoyad {
    width: 100%;
  }

  .note {
    margin-left: 1rem;
  }

  #exampleText {
    width: 95%;
    margin-left: 1rem;
  }

  .bottom-line {
    width: 95%;
    margin-left: 1rem;
  }

  .order-price {
    margin-left: 1rem;
    width: 95%;
  }

  .buttonorder {
    width: 30%;
    margin-left: 13rem;
    margin-top: 1rem;
    padding-top: 0.1rem;
    padding-left: 0.2rem;
    margin-right: 0.2rem;
  }
  
  .less, .more {
    margin-top: -2rem;
  }

  .less {
    margin-left: -8.5rem;
    width: 35%;
  }

  .more {
    margin-left: -0.1rem;
    width: 35%;
  }

  .count-order {
    margin-top: -2rem;
    width: 35%;
  }

  .order-price div {
    justify-content: space-between;
    margin-left: 2.2rem;
    margin-right: 2.2rem;
  }
}